@font-face {
    font-family: Ubuntu;
    src: url(font/Ubuntu-Regular.ttf);
}

*{
    margin: 0;
}

body{
    font-family: Ubuntu, sans-serif;
    background-color: #000;
    background-image: url(files/hubble-xdf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    font-size: 18px;
    justify-content: center;
}

article{
    margin-top: 79px;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
}

#quiz__intro{
    background-image: linear-gradient(#175378, #134065);
    background-color: #134065;
    justify-content: center;
    width: calc(100%-30px);
    max-width: 100%;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

#quiz__intro p{
    color: white;
    text-align: left;
    margin: 7pt;
}

#quiz__intro strong{
    font-size: 95%;
}

hr{
    border-color: #153b71;
    margin: 0;
}


.listaPerguntas{
    background-image: linear-gradient(#498e49, #40854d);
    background-color: #498e49;
    padding-top: 10px;
    padding-left: auto;
    padding-right: 40px;
    padding-bottom: 30px;
    margin: 0;
}

.listaPerguntas__item{
    display: flexbox;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.listaPerguntas__item::marker{
    color: white;
}

.pergunta{
    color: white;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0; /*senão a pergunta no <span> fica embaixo do número*/
}

.pergunta.formatacao.resposta{
    display: block;
}

.botoes__formatacao{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 90px;
    margin: 0;
}

.botao{
    width: 170px;
    max-width: 170px;
    height: 85px;
    background-color: #70defc;
    box-shadow: inset -5px -5px #5c9fd3;
    border: 3px #242546;
    border-radius: 10px;
    font-family: Ubuntu, sans-serif;
    margin-left: 0;
    margin-right: 2vw;
    font-size: 18px;
    flex: 1 0 150px;
    transition: 0.05s;
}

.botao:disabled{
    background-color: #91bac6;
    box-shadow: inset -5px -5px #7690a4;
    color: #000000de;
}

.botao--correto:disabled {
    background-color: #00c030;
    box-shadow: inset -5px -5px #1a7f30;
    color: white;
}

.botao--incorreto:disabled {
    background-color: #d22334;
    box-shadow: inset -5px -5px #9b1e3b;
    color: white;
}

.ativo{
    transition: 0.2s;
}

.ativo:hover{
    background-color: #3d91c9;
    box-shadow: inset -5px -5px #31569a;
    color: #ffffff;
}

.fonte-pequena{
    font-size: 14px;
}

.resposta{
    display: flex;
    align-self: center;
    padding: 20px;
    margin-top: 10px;
    background-image: linear-gradient(#e5d0b7, #ddc7ad);
    background-color: #e5d0b7;
    border-radius: 7px;
    box-shadow: inset -4px -4px #a48e72;
}

.mensagem{
    font-weight: bold;
    margin-bottom: 15px;
}

.resultado__formatacao{
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.resultado{
    position: fixed;
    width: 400px;
    height: 180px;
    margin: 0;
    padding: 1px;
    background-image: linear-gradient(#ade0d8, #85f2e9);
    box-shadow: inset 0 -4px #73d0c8;
    background-color: #b7e5dd;
    top: 33.333333%;
    z-index: 10;
    border-radius: 5px;
}

#acertos{
    position: relative;
    display: block;
    font-size: 16.8px;
    padding: 0;
    padding-left: 17px;
    top: 19px;
    margin: 0;
    width: 65px;
    text-align: justify;
    z-index: 11;
    font-weight: bold;
}

#fechar{
    position: relative;
    display: block;
    text-align: right;
    left: 94.3%;
    bottom: 10%;
    font-size: 29px;
    background-color: #00000000;
    border: 0;
    padding: 0;
    margin: 0;
}

#fechar:hover{
    cursor: pointer;
}

#resultado__p{
    position: relative;
    display: block;
    font-size: 16.8px;
    padding: 0;
    margin: 0;
    padding-left: 18px;
    padding-right: 18px;
    bottom: 4%;
    text-align: justify;
    z-index: 30;
}

strong{
    font-size: 95%;
}