* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #333;
    padding: 10px 20px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 0 auto;
}
    
/* Estilos para os links do menu */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 250px;

}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ddd;
}

.mensagem {
    display: flex;
    flex-direction: row;
  }
  .imagem {
    width: 100px;
    height: 120px;
    background-color: rgb(0, 185, 9);
    background-image: url(imagens/capy.png);
    background-size: cover;
    border-radius: 50px;
    margin-top: 10px;
  }
  .balao2{
  /*     margin: 0 auto;  */
      background: #10be00;
      font-family: "Ubuntu", serif;
      font-size: 0.85em;
      line-height: 1.6em;  
      border-radius: 7px;
      width: 300px;
      height: auto;
      color: #fff;
      padding: 20px;
      position: relative;
      margin-left: 25px;
  }
  .balao2:after{ /*Triangulo*/
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      
      border-right: 20px solid #01eeff;
      left: -18px; 
      top: 18px;
  }


body { 
background-color: rgb(255, 255, 255);
font-size: 22px;
font-family: "Ubuntu", serif;
font-weight: 300;
font-style: normal;
    
    

}
.content {
    padding-bottom: 100px;
}

footer{ background-color: rgb(58, 199, 58);
    padding: 0; 
    margin: 0;
    height: 100px;
    width: 100%;
    

}



.faq { color: rgb(0, 0, 0);
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;

}

.faq-question { color: white;
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #e0e0e0;
}

.faq-answer {
    padding: 10px;
    display: none;
    background-color: #fff;
}




